<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileFind.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FileFind.Properties.Settings>
            <setting name="SearchString" serializeAs="String">
                <value />
            </setting>
            <setting name="Path" serializeAs="String">
                <value />
            </setting>
            <setting name="FilePattern" serializeAs="String">
                <value />
            </setting>
            <setting name="Editor" serializeAs="String">
                <value>C:\Program Files (x86)\EditPlus 3\Editplus.exe</value>
            </setting>
            <setting name="EditorArgs" serializeAs="String">
                <value>{0} -cursor {1}:{2}</value>
            </setting>
        </FileFind.Properties.Settings>
    </userSettings>
</configuration>